<h1>Create a Team and Heroes!</h1><br>

<form action="teams" method="POST">
  
  <label for="team_name">Team Name</label>
  <input type="text" name="team[name]"<br>
  
  <label for="team_motto">Team Motto</label>
  <input type="text" name="team[moto]"<br>
  
  <h2>Hero 1</h2>
  
  <label for="member1_name">Hero Name</label>
  <input id="member1_name" type="text" name="team[name][][name]"<br>
  
  <label for="member1_name">Hero Name</label>
  <input id="member1_name" type="text" name="team[name][][name]"<br>
  
  <label for="member1_name">Hero Name</label>
  <input id="member1_name" type="text" name="team[name][][name]"<br>
  
  <label for="member1_name">Hero Name</label>
  <input id="member1_name" type="text" name="team[name][][name]"<br>
  
  <label for="member1_name">Hero Name</label>
  <input id="member1_name" type="text" name="team[name][][name]"<br>
  
  
</form>

